/* CSS declarations go here */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin: 50px 0;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#outer {
    width: 600px;
    margin: 0 auto;
}

.city {
    cursor: pointer;
    padding: 5px;
}

.city .name {
    display: inline-block;
    width: 300px;
    font-size: 1.75em;
}

.city .count {
    display: inline-block;
    font-size: 14px;
    width: 100px;
    text-align: right;
}

.city.selected {
    background-color: #009EE0;
}

.city.selected .count {
    color: black;
}

.details, .none {
    font-weight: bold;
    /*font-size: 2em;*/
    border-style: dashed none none none;
    border-color: #ccc;
    border-width: 4px;
    margin: 50px 10px;
    padding: 10px 0px;
}

.none {
    color: #777;
}

.inc {
  cursor: pointer;
}
